<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Employee List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Employee Manager</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add-employee">Thêm mới</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container mt-4">
  <h1 class="text-center">Danh Sách Nhân Viên</h1>
  <a class="btn btn-success mb-3" href="/add-employee">Thêm Mới</a>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
    <tr>
      <th>STT</th>
      <th>Họ tên</th>
      <th>Địa chỉ</th>
      <th>Số điện thoại</th>
      <th>Ngày sinh</th>
      <th>Trạng thái</th>
      <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee, loop : ${employees}">
      <td th:text="${loop.count}"></td>
      <td th:text="${employee.fullName}"></td>
      <td th:text="${employee.address}"></td>
      <td th:text="${employee.phone}"></td>
      <td th:text="${employee.dateOfBirth}"></td>
      <td>
        <a th:href="@{'/toggle-employee-status'(id=${employee.id})}">
    <span th:text="${employee.status ? 'Active' : 'Inactive'}"
          th:class="${employee.status} ? 'badge badge-success' : 'badge badge-danger'">
    </span>
        </a>
      </td>
      <td>
        <a class="btn btn-primary btn-sm" th:href="@{'/edit-employee'(id=${employee.id})}">Sửa</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>
</html>
